*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  /* color: white; */
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  /* height: 100vh; */
  width: 100%;
  padding: 30px; 
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card{
  height: 330px;
  width: 250px;
  background-color: #fff;
  border-radius: 30px ;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between  ;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;  
}

.top{
  margin: 10px 0;

}

.top img{
 height: 40px;
 width: 40px;
 border-radius: 50%;
 border: 1px solid #000;
 padding: 2px;
}

.top button{
  display: flex;
  align-self: center;
  border: 1px solid #232323;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 5px;
  background-color: whitesmoke;
  gap: 3px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

/* .center{
  background-color: red;
} */
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #313131b5;
  padding-top: 10px;
}

.center h3{
  font-size: 18px;
  font-weight: 400;
}

.center span{
  font-size: 10px;
  font-weight: 400;
  color: rgb(53, 53, 53);
}
.center h2{
  font-size: 20px;
  padding: 2px 0;
}

.center .tag{
  display: flex;
  gap: 5px;
  margin: 10px 0;
}
.center .tag h4{
  font-size: 13px;
  background-color: #8c8c8c;
  color: black;
  padding: 3px 6px;
  font-weight: 400;
  border-radius: 5px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 5px;
  border: none;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 12px;
  color: rgb(53, 53, 53);
}